<h1>Inhalt <%= @inhalt.titel%></h1>
<p><%=@inhalt.inhalt%></p>
<p><%=@inhalt.gemeldet%></p>

<%= link_to 'Zurück', wissensgebiete_fachmodul_lernmethoden_path(@wissensgebiet,@fachmodul,@lernmethode) %>
