<html>
  <head>
    <title> Login</title>
    <style type="text/css">
        body {
          background-color: #DADADA;
        }
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: -100px;
        }
        .column {
          max-width: 450px;
        }
      </style>
  </head>
  <body>



    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="ui stacked segment">

          <h2 class="ui red header">
            <div class="content">
              Hochschule Coburg Lernanwendung
            </div>
          </h2>
          <%= form_tag sessions_path do %>
            <div class="ui form segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                <%= text_field_tag :mail, params[:mail],placeholder:"E-Mail-Adresse" %>
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                <%= password_field_tag :passwort %>
              </div>
              </div>
              <div class="actions"><%= submit_tag "Logín",class: "ui fluid large red submit button" %></div>
            </div>
          <% end %>

            </div>
        <div class="ui message">
          <a href="#">Passwort vergessen?</a>
        </div>
      </div>
    </div>
  </body>
</html>
