<h1>test</h1>
<table>


  <% @lernmethoden.each do |lernmethode| %>
    <tr>
      <td> <%= link_to lernmethode.name,
        wissensgebiete_fachmodul_lernmethoden_path(@wissensgebiet,@fachmodul, lernmethode) %></td>
<!--TODO in controller if fachmodul is informatik then display codelab, not anwendungsfälle-->


    </tr>
  <% end %>
</table>
<%= link_to 'Zurück', wissensgebiete_path(@wissensgebiet) %>
